@font-face {
    font-family: "HelveticaNeueCyr-Bold";
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff");
}

@font-face {
    font-family: "HelveticaNeueCyr-Black";
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff");
}

@font-face {
    font-family: "HelveticaNeueCyr-Medium";
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff");
}

@font-face {
    font-family: "HelveticaNeueCyr-Roman";
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
li {
    list-style-type: none;
}

img {
    object-fit: cover;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.main-content {
    width: 100%;
    height: 100%;
}

.page-header {
    width: 100%;
    position: relative;
}

.header-top {
    width: 100%;
    height: 56px;
    background-color: #313844;
    color: #fff;
}

.header-top,
.header-bottom {
    padding: 0 10px;
}

.page_header__wrapper,
.header-bottom__wrapper {
    width: 100%;
    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-area,
.hidden-search-area {
    position: relative;
}

.hidden-search-area,
.header-search-btn {
    width: 36px;
}

.hidden-search-area {
    height: 100%;
}

.header-search-field {
    width: 360px;
    height: 36px;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    padding: 0 36px 0 10px;
}

.header-search-field::placeholder {
    font-style: italic;
    color: #fff;
}

.hidden-search-area {
    display: none;
}

.hidden-field-keeper {
    width: 300px;
    height: 46px;
    display: flex;
    align-items: center;
    background-color: #313844;
    padding: 20px 5px;
    position: absolute;
    top: -100%;
    transition: top .4s;
    z-index: 4;
}

.hidden-field-showed {
    top: 100%;
}

.hidden-field-launch-search-btn {
    height: 36px;
    background-color: #fff;
    font-size: 13px;
    border-radius: 0 5px 5px 0;
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
}

.hidden-field-keeper > .header-search-field {
    border-radius: 5px 0 0 5px;
}

.order-call-area {
    display: flex;
    align-items: center;
}

.phone-number {
    font-family: HelveticaNeueCyr-Bold, Arial, sans-serif;
    font-size: 22px;
    color: #fff;
}

.order-call-link {
    font-size: 20px;
    cursor: pointer;
    color: #2cc6f5;
    margin-left: 10px;
    transition-duration: .3s;
    font-family: HelveticaNeueCyr-Medium, Arial, sans-serif;
    position: relative;
}

.order-call-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(44, 198, 245, .5);
    position: absolute;
    bottom: 0;
    left: 0;
}

.order-call-link:hover {
    opacity: .8;
}

.language-area:after {
    content: "";
    display: block;
    right: 15px;
    width: 8px;
    height: 8px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    position: absolute;
    top: 50%;
    transform: translateY(-80%) rotate(45deg);
}

.language-area:hover,
.language-area-active {
    background-color: #464c57;
}

.language-dropdown-list {
    width: calc(100% + 60px);
    background-color: #e0e9f2;
    z-index: 9999;
    position: absolute;
    top: 100%;
    right: 0;
}

.languages-list {
    width: 100%;
}

.languages-list > li {
    padding: 15px 10px 15px 50px;
    transition-duration: .3s;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
}

.languages-list > li:hover {
    background-color: #d5dde6;
}

.languages-list > li:not(:first-child) {
    border-top: 1px solid #ccc;
}

.languages-list > li:before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: no-repeat center / 100% 100%;
}

.header-bottom {
    width: 100%;
    height: 80px;
    background-color: #fff;
}

.header-bottom__wrapper {
    display: flex;
    align-items: center;
}

.header-navigation-list {
    display: flex;
}

.header-navigation-list > li {
    padding: 15px;
    text-transform: uppercase;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
    font-size: 18px;
}

.header-navigation-list > li > a {
    transition-duration: .3s;
}

.header-navigation-list > li > a:hover {
    color: #0072cb;
}

.logo-img {
    width: 164px;
}

.header-demo-btn {
    padding: 15px 20px;
    border: 1px solid #0072bc;
    background-color: #0072bc;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
    font-size: 16px;
    transition-duration: .3s;
}

.header-demo-btn:hover {
    background-color: #fff;
    color: #0072bc;
}

.main-content__slider {
    width: 100%;
    background-color: orange;
}

.swiper {
    width: 100%;
    height: 580px;
}

.swiper-wrapper {
    position: relative;
}

.arrows-closer {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 1140px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
}

.swiper-button-prev,
.swiper-button-next {
    pointer-events: all;
    color: #fff;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background-color: #fff;
}

.black-glass {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.slide-content-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 69px 108px;
    display: flex;
    align-items: flex-end;
}

.slide-content {
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.slide-content > h2 {
    font-family: HelveticaNeueCyr-Bold, Arial, sans-serif;
    font-size: 38px;
}

.slide-content > p {
    font-size: 22px;
    padding: 40px 0;
}

.slide-content > a {
    color: #fff;
    text-align: center;
    padding: 22px 34px;
    border: 1px solid #17a5a3;
    background-color: #17a5a3;
    font-size: 22px;
    transition-duration: .4s;
}

.slide-content > p,
.slide-content > a {
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
}

.slide-content > a:hover {
    background-color: transparent;
    color: #17a5a3;
}

.main-content-menu {
    width: 100%;
    min-height: 100px;
    padding: 0 10px 20px;
    background-color: #0072bc;
}

.main-content-menu__navigation {
    width: 100%;
    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.main-content-menu__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
}

.main-content-menu__list > li:not(:last-child) {
    margin-right: 16px;
}

.main-content-menu__list > li {
    margin-top: 20px;
}

.main-content-menu__list a {
    display: block;
    width: 369.33px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    padding: 21px 0;
    text-align: center;
    transition-duration: .3s;
    font-family: HelveticaNeueCyr-Medium, Arial, sans-serif;
    font-size: 14px;
}

.main-content-menu__list a:hover {
    background-color: #17a5a3;
    border-color: #17a5a3;
}

.main-content-review,
.main-content__why-solution,
.main-content__calculator,
.main-content__examples {
    padding: 50px 20px;
}

.main-content-review,
.grid-block {
    width: 100%;
}

.grid-block {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 100px 40px;
}

.grid-item-logo {
    width: 44px;
    height: 44px;
    max-width: initial;
}

.grid-item:last-child .grid-item-logo {
    object-fit: contain;
}

.grid-item {
    width: 100%;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-item-header {
    display: flex;
    color: #0072bc;
}

.grid-item-header > h3 {
    padding-left: 20px;
    text-transform: uppercase;
    line-height: 22px;
    font-size: 16px;
}

.grid-item > p {
    padding: 30px 0;
    font-size: 16px;
    word-break: break-word;
    color: #292929;
}

.grid-item > a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 25px;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #0072bc;
    color: #0072bc;
    transition-duration: .3s;
    margin-top: auto;
}

.grid-item > a:hover {
    background-color: #0072bc;
    color: #fff;
}

.main-content__why-solution,
.main-content__calculator,
.main-content__examples {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content__why-solution {
    min-height: 430px;
    background-color: #e0e9f2;
}

.main-content__why-solution > h2,
.main-content__calculator > h2,
.main-content__examples > h2 {
    text-transform: uppercase;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 23px;
    color: #313844;
    position: relative;
    text-align: center;
    line-height: 35px;
}

.main-content__why-solution > h2:after,
.main-content__calculator > h2:after,
.main-content__examples > h2:after {
    content: "";
    display: block;
    width: 167px;
    height: 4px;
    background-color: #0072bc;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}

.solutions-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
}

.solutions-container h3,
.solutions-container p,
.solution-item > ul > li {
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
}

.solutions-container h3 {
    color: #0072bc;
    text-transform: uppercase;
    font-size: 14px;
    height: 70px;
    line-height: 19px;
}

.solutions-container p,
.solution-item > ul > li {
    font-size: 16px;
    color: #292929;
    line-height: 18px;
}

.solution-item > ul > li {
    list-style: square inside;
}

.solution-item > ul > li:not(:last-child) {
    padding-bottom: 10px;
}

.solution-item > ul > li > span {
    display: inline-block;
    margin-left: -15px;
    transform: translateY(-20%);
}

.solution-item > ul > li::marker {
    color: #0072bc;
    font-size: 30px;
}

.solutions-container p {
    padding-right: 30px;
}

.solutions-container p > a,
.privacy-policy {
    color: #0072bc;
    text-decoration: underline;
}

.solution-item {
    width: 244px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 100px;
    margin-left: 35px;
}

.solution-item:before {
    display: block;
    position: absolute;
    font-family: HelveticaNeueCyr-Black, Arial, sans-serif;
    font-size: 140px;
    font-weight: 900;
    left: -50px;
    top: -8px;
    color: #0072bc;
    opacity: .15;
}

.solution-item:first-child:before {
    content: "1.";
}

.solution-item:nth-child(2):before {
    content: "2.";
}

.solution-item:last-child:before {
    content: "3.";
}

.demo-test-blue-block {
    width: 100%;
    min-height: 450px;
    background-color: #0072bc;
    padding: 10px;
    display: flex;
    align-items: center;
}

.demo-test__container {
    width: 100%;
    max-width: 1140px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
}

.ipad {
    width: 570px;
    height: 100%;
}

.demo-test-blue-block__text {
    width: 430px;
    margin-left: 161px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.demo-test-blue-block__text > h2,
.demo-link {
    color: #fff;
    text-transform: uppercase;
}

.demo-test-blue-block__text > h2 {
    font-family: HelveticaNeueCyr-Bold, Arial, sans-serif;
    font-size: 32px;
    word-break: break-word;
}

.demo-link {
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
    padding: 27px 22px;
    background-color: #029292;
    transition-duration: .4s;
    margin-top: 30px;
}

.demo-link:hover {
    background-color: #fff;
    color: #029292;
}

.main-content__calculator {
    min-height: 762px;
}

.calculator-form-wrapper {
    width: 100%;
    max-width: 1140px;
    margin-top: 60px;
}

.examples-slider-wrapper {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin-top: 70px;
    overflow-x: clip;
}

.examples-swiper {
    min-height: 338px;
}

.example-slide {
    height: auto;
    padding: 10px 20px 20px;
    border: 1px solid #000;
    cursor: pointer;
}

.example-slide a {
    font-size: 16px;
    transition: color .4s;
}

.example-slide:hover > p > a {
    text-decoration: underline;
    color: #0072bc;
}

.examples-slider-wrapper > .swiper-button-prev,
.examples-slider-wrapper > .swiper-button-next {
    display: none;
}

.arrows-shadow {
    position: relative;
}

.prev-arrow {
    right: calc(100% + 15px);
    transform: translateY(50%);
}

.next-arrow {
    left: calc(100% + 15px);
    transform: translateY(50%) rotate(180deg);
}

.main-content__examples .swiper-horizontal > .swiper-pagination-bullets, .main-content__examples .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -50px;
}

.main-content__examples .swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, .9);
}

.main-content__examples .swiper-pagination-bullet-active {
    background-color: #2D99D6;
}

.example-slide__img {
    width: 100%;
}

.example-slide > p {
    width: 100%;
    word-break: break-word;
    padding-top: 40px;
    font-size: 17px;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
}

.read-review {
    width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.read-review-link {
    display: block;
    padding: 20px 25px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition-duration: .4s;
    background-color: #029292;
    border: 1px solid #029292;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
}

.read-review-link:hover,
.describe-btn:hover {
    background-color: transparent;
    color: #029292;
}

.footer-page,
.footer-row,
.footer-row-content {
    width: 100%;
}

.footer-row {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.footer-row-1 {
    border-bottom: 1px solid #2D99D6;
}

.footer-row-content {
    min-height: 137px;
    padding-top: 30px;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
}

.footer-page__logo-img {
    width: 262px;
}

.contacts {
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
    margin-top: 20px;
}

.contacts > div {
    padding-left: 32px;
    position: relative;
}

.contacts > div:not(:first-child) {
    margin-top: 10px;
}

.contacts > div:not(.social-links):before {
    content: '';
    position: absolute;
    display: block;
    left: 1px;
    width: 20px;
    height: 20px;
}

.address > p {
    line-height: 20px;
}

.phone-call > .order-call-footer-link {
    color: #0072bc;
    font-weight: 400;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 6px;
}

.phone-call > a {
    display: table;
}

.footer-page__describe,
.footer-page__navigation,
.footer-row-2 {
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
}

.footer-page__describe > h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.footer-page__describe > p,
.footer-page__describe > ul > li {
    text-align: center;
}

.footer-page__describe > p,
.footer-page__describe a:not(.describe-btn),
.describe-field,
.footer-privacy-policy-link,
.offer-block,
.license-link {
    font-size: 14px;
}

.footer-page__describe > p {
    line-height: 22px;
    padding-top: 12px;
    font-weight: 100;
}

.footer-page__describe > ul {
    margin-top: 23px;
}

.footer-page__describe > ul > li:not(:first-child) {
    margin-top: 8px;
}

.footer-page__describe a:not(.describe-btn) {
    color: #0072cb;
    position: relative;
}

.footer-page__describe a:not(.describe-btn):after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #B2D4EB;
    bottom: -1px;
    left: 0;
    transition-duration: .4s;
}

.footer-page__describe a:not(.describe-btn):hover:after {
    background-color: #0072cb;
}

.describe-field {
    outline: none;
    border: 1px solid #0072cb;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
}

.describe-btn {
    text-transform: uppercase;
    color: #fff;
    background-color: #029292;
    border: 1px solid #029292;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    margin-top: 5px;
    transition-duration: .4s;
    font-size: 16px;
    display: block;
    text-align: center;
}

.footer-page__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 100px;
}

.footer-navigation a {
    text-transform: uppercase;
    color: #0072cb;
    font-weight: 600;
    font-size: 16px;
    transition-duration: .4s;
}

.footer-navigation a:hover {
    color: #2CC6F5;
}

.footer-navigation__list > li:not(:first-child) {
    margin-top: 9px;
}

.footer-page__demo-version-link {
    padding: 15px 30px;
    background-color: #0072cb;
    border: 1px solid #0072cb;
    color: #fff;
    transition-duration: .4s;
    cursor: pointer;
    text-transform: uppercase;
}

.footer-page__demo-version-link:hover {
    background-color: transparent;
    color: #0072cb;
}

div.social-links {
    padding: 15px 0 0;
    display: flex;
}

.social-visualizer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.social-links > a:not(:first-child) {
    margin-left: 5px;
}

.footer-row-content > div {
    width: calc((100% - 30px) / 3);
}

.footer-privacy-policy {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-privacy-policy-link {
    display: block;
    text-align: center;
    color: #0072cb;
    width: 276px;
}

.footer-privacy-policy-link:last-child {
    margin-top: 15px;
}

.offer-block > * {
    display: block;
    text-align: center;
    font-size: 14px;
}

.offer-link,
.license-link {
    color: #0072cb;
    margin-top: 10px;
}

.license-block {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-navigation-item {
    position: relative;
}

.menu-panel {
    width: 330px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    opacity: 0;
    transition: opacity .4s;
    z-index: 2;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
    font-size: 18px;
    text-transform: none;
    padding: 20px 15px 15px;
    pointer-events: none;
}

.menu-panel h3 {
    font-weight: 100;
}

.header-navigation-list > li:hover > .menu-panel,
.menu-panel:hover {
    opacity: 1;
    pointer-events: all;
}

.menu-panel li:not(:first-child) {
    margin-top: 10px;
}

.sub-menu-link:hover {
    color: #0072BC;
    text-decoration: underline;
}

.menu-inner-list {
    padding-left: 20px;
}

.menu-panel .menu-inner-list > li {
    list-style-type: disc;
    font-size: 15px;
    margin-top: 1px;
}

.menu-inner-list > li::marker {
    color: #0072BC;
    font-size: 25px;
}

.inner-shift {
    padding-top: 10px;
}

.sub-menu-link {
    display: block;
    transform: translateX(-5px);
}

.logo {
    display: flex;
    align-items: center;
}

.show {
    transform: translateX(100%);
}

.hide-burger-menu {
    display: inline-block;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
    background-color: #E0E9F2;
    padding: 10px;
    font-size: 12px;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 100%;
    transition-duration: .4s;
    z-index: 1000;
}

.hide-burger-menu h3 {
    color: #0072BC;
    text-transform: uppercase;
}

.hide-burger-menu h4 {
    font-style: italic;
}

.burger-outer-list > li:not(:first-child) {
    margin-top: 12px;
}

.services li {
    position: relative;
    display: block;
}

.services li > a {
    margin-left: 10px;
}

.services li:before {
    content: '';
    width: 3px;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #000;
}

.burger-inner-list > li {
    margin-top: 3px;
}

.hidden-link {
    display: none;
}

.hidden-link,
.main-content__calculator {
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
}

.new-form-area > h3 {
    text-align: center;
}

.new-calculator-form__new-form-fields {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.field-area {
    width: 362px;
}

.field-description {
    padding: 7px 20px 0 0;
    display: flex;
    position: relative;
}

.question-hint,
.discount-deadline {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    width: 230px;
    box-shadow: 0 6px 10px -1px #888;
    padding: 30px 30px;
    background-color: #fff;
    z-index: 3;
    opacity: 0;
    transition: opacity .4s;
    pointer-events: none;
}

.question-hint > p {
    font-size: 16px;
}

.field-description > label {
    font-size: 18px;
    margin-left: 10px;
}

.form-field {
    width: 100%;
    height: 50px;
    padding: 10px;
    outline: none;
    margin-top: 30px;
}

.form-field,
.form-field::placeholder {
    font-size: 16px;
}

.form-field::placeholder {
    transition: color .4s;
}

.form-field:focus::placeholder {
    color: transparent;
}

.input-place {
    position: relative;
}

.triangle-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: none;
}

.triangle-up {
    border-bottom: 20px solid #2CC6F5;
    transform: translateY(-30%);
}

.triangle-down {
    border-top: 20px solid #2CC6F5;
    transform: translateY(86%);
}

.question-mark {
    min-width: 20px;
    height: 20px;
    background: url('../img/staff_selection/main-content/calculator/question-mark.svg') no-repeat center / 100% 100%;
    border-radius: 50%;
}

.question-mark:hover ~ .question-hint {
    opacity: 1;
}

.new-form-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.new-form-btn {
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 24px 60px;
    cursor: pointer;
    transition: background-color .4s;
}

.new-form-btn-1 {
    background-color: #17A5A3;
    border: 1px solid #17A5A3;
    margin-right: 30px;
}

.new-form-btn-2 {
    background-color: #0072BC;
    border: 1px solid #0072BC;
}

.new-form-btn-1:hover {
    background-color: transparent;
    color: #17A5A3;
}

.new-form-btn-2:hover {
    background-color: transparent;
    color: #0072BC;
}

.sticky-rink {
    width: 100%;
}

.rates-outer-block,
.rates-outer-block-mobile {
    width: 100%;
    max-width: 1140px;
}

.rates-outer-block {
    margin-top: 80px;
    position: relative;
}

.rates-outer-block-mobile {
    display: none;
    margin-top: 40px;
}

.mobile-table-place,
.rates-mobile-table {
    width: 100%;
}

.table-rates,
.functions-table {
    width: 100%;
    border-collapse: collapse;
    font-family: HelveticaNeueCyr-Roman, Arial, sans-serif;
}

.header-row {
    border-bottom: 1px solid #313844;
}

.table-rates th,
.table-rates td {
    padding: 10px;
}

.table-rates th {
    text-align: left;
    font-size: 26px;
    color: #313844;
    font-weight: 400;
    padding-left: 0;
    width: 342px;
}

.header-row > td {
    color: #0072BC;
    font-size: 28px;
    font-weight: 900;
    font-family: HelveticaNeueCyr-Black, Arial, sans-serif;
}

.table-rates td {
    text-align: center;
}

.rates-table-link {
    color: #0072bc;
    cursor: pointer;
}

.prices-row td {
    padding-top: 20px;
}

.prices-row td > span,
.rates-price-mobile > span {
    display: block;
}

.rates-mobile-header,
.rates-prices-mobile-header,
.rates-price-mobile > span:last-child {
    font-weight: 100;
}

.rates-mobile-header {
    text-align: left;
}

.rates-prices-mobile-header,
.rates-price-mobile {
    text-align: right;
}

.rates-price-mobile {
    font-weight: 700;
    font-size: 18px;
}

.rates-price-mobile > span:last-child {
    font-size: 14px;
    padding-right: 13px;
    color: #828282;
    margin-top: 17px;
}

.rates-mobile-table tr {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

.mobile-table-header {
    font-size: 18px;
    color: #313844;
}

.rates-name-mobile {
    font-size: 18px;
    color: #0072BC;
    font-weight: 900;
    font-family: HelveticaNeueCyr-Black, Arial, sans-serif;
}

.download-table-mobile {
    display: block;
    width: 100%;
    padding: 20px 25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #17A5A3;
    border: 1px solid #17A5A3;
    transition-duration: .4s;
    margin-top: 15px;
    text-align: center;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.period {
    font-size: 14px;
    color: #828282;
    margin-top: 10px;
}

.functions-window {
    width: 100%;
    background-color: #FBFBFB;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    padding: 15px;
    margin-top: 50px;
    height: 370px;
    transition: height 1s;
    overflow: hidden;
    position: relative;
}

.pivot-header > th {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.functions-table tr {
    border-bottom: 1px solid rgba(49, 56, 68, .2);
    display: flex;
    min-height: 90px;
}

.functions-table tr.pivot-header {
    border-bottom: 1px solid #313844;
}

.functions-table tr.pivot-header:not(:first-child) {
    margin-top: 50px;
}

.functions-table tr > td {
    display: flex;
    align-items: center;
}

.functions-table tr > td:first-child {
    min-width: 328px;
    position: relative;
}

.functions-table tr > td:not(:first-child) {
    justify-content: center;
    min-width: 261px;
}

.rates-wrapper {
    position: sticky;
    top: -.5px;
    transition-duration: .4s;
}

.rates-wrapper,
.table-rates {
    min-height: 130px;
}

.fixed-header-bg-color {
    background-color: #0072bc;
    padding: 10px 4px;
    z-index: 5;
}

article.fixed-header-bg-color * {
    color: #fff;
}

.fixed-header-bg-color .header-row {
    border-bottom-color: #fff;
}

.fixed-header-bg-color .header-row > td {
    font-size: 20px;
}

.fixed-header-bg-color .table-rates th {
    padding-left: 143px;
    font-size: 16px;
}

.fixed-header-bg-color .period {
    display: none;
}

.fixed-header-bg-color .request-rate-flex {
    display: table-cell;
}

.absolute-ruble {
    position: absolute;
    top: 2px;
    right: 0;
}

.functions-table .question-hint {
    left: calc(100% + 15px);
    top: 0;
}

.footnote {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footnote > p {
    margin-left: 10px;
}

.actions-place {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    position: relative;
}

.mist:before {
    content: '';
    display: block;
    width: 102%;
    height: 199px;
    background-image: linear-gradient(to top, rgba(255,255,255, 1) 20%, rgba(255,255,255, .7) 87%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    left: 0;
    bottom: 100%;
    transform: translateX(-1%);
}

.calculator-actions {
    padding: 24px 60px;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    transition-duration: .4s;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}

.calculator-actions:first-child {
    margin-right: 30px;
}

.show-functionality-btn {
    border: 1px solid #17A5A3;
    background-color: #17A5A3;
}

.download-comparison-table-link {
    border: 1px solid #0072BC;
    background-color: #0072BC;
}

.calculator-actions:hover {
    background-color: transparent;
}

.show-functionality-btn:hover {
    color: #17A5A3;
}

.download-comparison-table-link:hover {
    color: #0072BC;
}

.rates-table-link:hover {
    text-decoration: underline;
}

.request-rate-flex {
    display: flex;
    justify-content: center;
}

.prices {
    position: relative;
    display: inline-block;
}

.discount-old-price {
    color: #828282;
    text-decoration: line-through;
    font-size: 15px;
    white-space: nowrap;
    position: absolute;
    top: 59%;
    transform: translateY(-50%);
    left: calc(100% + 10px);
}

.discount-new-price {
    color: #f00;
    font-weight: 900;
    font-size: 20px;
}

.price-after-discount {
    position: relative;
}

.price-after-discount:hover > .discount-deadline {
    opacity: 1;
}

.discount-deadline {
    top: -15px;
    left: 60%;
    line-height: 24px;
}

.fixed-header-bg-color .discount-deadline {
    color: #000;
}

.fixed-header-bg-color .discount-new-price {
    color: #f00;
}